<h1>Send Us a Product Request</h1>
<form  name="updateUser">
	<input type="hidden" id="user_id" value="{{user.user_id}}" required name="id"/><br />
	<input type="text" value="{{user.fname}}"required name="fname"/><br />
	<input type="text" value="{{user.lname}}" required name="lname" /><br />
	<input type="text" value="{{user.email}}" required name="email" /><br />
	<textarea rows="4" cols="50"> </textarea>

	<input type="submit" name="submit" value="Send" />

</form>
